.cont-area{
    width: 1650px;
    height: 100%;
    margin-left: 285px;
    display: inline-block;
}
.login-area{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #ffffffe3;
    border-radius: 10px;
    box-shadow: 6px 7px 13px 4px rgba(0, 0, 0, 0.1);
}
.title-area{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.input-area{
    width: 100%;
    height: 400px;
    padding-left: 120px;
    padding-top: 5px;
}
.submit-area {
    width: 100%;
    padding-top: 30px;
}
.login-btn{
    width: 250px;
    color: white;
    background-color:rgb(32, 201, 151);
}
input[type="text"], input[type="password"] {
    width: 65%; /* 원하는 너비 설정 */ 
    height: auto; /* 높이값 초기화 */ 
    line-height : normal; /* line-height 초기화 */ 
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
    font-family: inherit; /* 폰트 상속 */ 
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 0; /* iSO 둥근모서리 제거 */ 
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
    -moz-appearance: none; 
    appearance: none;
    background-color: rgb(238, 238, 238);
    color: rgb(117, 117, 117);
}
