.img-area{
    display: inline-block;
    margin-top: 4px;
}
.menu {
    display: inline-block;
    margin-left: 10px;
}
.sidebar-item{
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
}
