.sidebar{ text-align:center; width: 260px; height: 100%; background-color: rgba(255, 255, 255, 0.822); float: left; display: inline-block;}

.sidebar>:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
};
.sidebar>p:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
};
.sidebar>p:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.Velog{
    font-size: 40px;
    font-weight: bold;
}
.input-side{
    border: none;
    background-color: rgb(224, 224, 224);
    height: 25px;
}