@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.sidebar{ text-align:center; width: 260px; height: 100%; background-color: rgba(255, 255, 255, 0.822); position: fixed;}

.sidebar>a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
};
.sidebar>a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
};
.sidebar>a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.sidebar>a{
    color:black;
}
.Velog{
    font-size: 40px;
    font-weight: bold;
}
.input-side{
    border: none;
    background-color: rgb(224, 224, 224);
    height: 25px;
    font-family: 'Noto-Sans KR';
}
#search input{
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 30px;
    padding-left: 40px;
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
}
